/* .container-main {
    background-color: var(--color2);
    height: 100vh;
}


.title-big {
    font-size: 64px;
    color: #fff;
}

.title-big-2 {
    font-size: 64px;
    color: var(--color4);
    text-shadow: 0 0 9px #d27de5, 0 0 1px #d27de5, 0 0 1px #d27de5, 0 0 1px #d27de5, 0 0 1px #d27de5;
}


.title-medium {
    font-size: 32px;
    color: #fff;
} */
/* .avatar-gif {
    width: 90%;
    border-radius: 50%;
} */