.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  }
  
  .project-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--text);
  }
  
  .projects-content {
    width: 90%;
    background-color: #fff; /* Fundo branco para o conteúdo dos projetos */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(130, 130, 130, 0.1);
    padding: 2rem;
  }
  
  .project-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  
  .project-item.text-left .project-description {
    order: 1;
  }
  
  .project-item.text-left .project-image {
    order: 2;
  }
  
  .project-item.text-right .project-description {
    order: 2;
  }
  
  .project-item.text-right .project-image {
    order: 1;
  }
  
  .project-description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .project-image {
    width: 100%;
    max-width: 300px;
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Responsividade para telas menores */
  @media screen and (max-width: 768px) {
    .project-item {
      grid-template-columns: 1fr;
    }
  
    .project-description {
      text-align: center;
    }
  
    .project-item.text-left .project-description,
    .project-item.text-right .project-description {
      order: 1;
    }
  
    .project-item.text-left .project-image,
    .project-item.text-right .project-image {
      order: 2;
    }
    
    .project-image {
      max-width: 100%;
    }
  }
  
  /* Responsividade para telas médias */
  @media screen and (max-width: 1024px) {
    .projects-container {
      padding: 2rem;
    }
  
    .project-title {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  
    .projects-content {
      width: 100%;
      padding: 1.5rem;
    }
  
    .project-item {
      gap: 1.5rem;
    }
  
    .project-image {
      max-width: 200px;
    }
  }
  