.avatar-img {
    width: 80%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(255, 255, 255, 0.5);
    animation: glowing-border 2s linear infinite;
}
